body {
    background-color: #665301;
}
.register {
    margin-top: 150px;
    border-radius: 15px;
    padding: 50px;
    background-color: #18181b;
    box-shadow: 5px 4px 20px #8e7815;
}
.text {
    text-shadow: 3px 2px 10px #b79f32;
}