.card a {
    color: black;
    margin-top: 10px;
}
@media screen and (max-width: 1370px) {
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid beige;
        border-radius: 13px;
        background-color: #facc15;
        margin: auto;
        margin-top: 0px;
        width: 50%;
        padding: 10px;
    }
} 
@media screen and (max-width: 982px) {
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid beige;
        border-radius: 13px;
        background-color: #facc15;
        margin: auto;
        margin-top: 20px;
        width: 75%;
        padding: auto;
    }
}
@media screen and (max-width: 700px) {
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid beige;
        border-radius: 13px;
        background-color: #facc15;
        margin: auto;
        margin-top: 10px;
        width: 100%;
        padding: 50px;
    }
}
